{{- define "feeds" -}}
	{{- template "header" . -}}
## Feeds
follow a feed and get updates to any terms added in your news reader
=> /feeds/feed.rss RSS Feed
=> /feeds/feed.atom Atom Feed
=> /feeds/feed.json JSON feed
	{{- template "footer" . -}}
{{- end -}}