{{define "footer"}}

## Footer
=> /about/contact Contact
=> /feeds/ RSS/Atom/JSON Update Feed
=> {{.Conf.Git}} Source
=> {{.Conf.Invite}} Invite {{.Conf.SiteName}} Discord Bot

=> /about/license The bot and website are licensed under the GNU AGPLv3

{{end}}