{{- define "index" -}}
	{{- template "header" . -}}

## Tags
	{{- range .Tags}}
=> /tag/{{urlEncode .}} {{title .}}
	{{- end}}
=> /tag/untagged Untagged terms

	{{- template "footer" . -}}
{{- end -}}